doctype html
html(lang="en")
    head
        title Rabit racing
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="css/style.css" rel="stylesheet")
    body
        #container
            header
            main
            footer